body{ 
	margin: 0px; 
	background-color: #CCC; 
	font-family: Roboto, Tahoma, Verdana; 
	overflow:hidden;
}
paper-fab{
	display: inline-flex !important;
	display: -webkit-inline-flex !important;
	display: ms-inline-flex !important;
	background-color: #FFF !important;
	color: #53439C !important;
	margin: 10px;
	height: 80px;
	width: 80px;
	padding: 20px;
}
paper-toolbar.paper-toolbar-0{
	background-color: #53439C;
	color: #FFF;//F2D215;
}
paper-card:not([style-scope]):not(.style-scope) {
	width: 100%;
	margin: 0px;
}

.comment-ctnr-in list-cell:first-child{
	width: 100%;
	text-align: right;
}
.comment-ctnr-in list-cell:last-child{
	width: 48px;
}
.comment-ctnr-in-q #comment, .comment-ctnr-in #comment{
	padding: 10px;
}
.comment-ctnr-in #comment{
	text-align: right;
	color: #9A84FF;
    font-style: italic;	
}

.comment-ctnr-in{
	border-top: 1px #EEE solid;
	padding: 4px 0px;	
}

#comment-btns{
	text-align: right;
	color: #888;
}

.comment-ctnr iron-icon.iron-icon-1{
	width: 28px;
	height: 28px;
}
.comment-ctnr paper-fab{
	width: 70px;
	height: 70px;
}

.comment-ctnr-in-q #comment-btns{
	text-align: left;
}

#comment-btns iron-icon{
	padding: 12px 6px;
}

.comment-ctnr-in-q #comment{
	font-size: 24px;
	font-weight: bold;
}

.comment-ctnr{
	padding: 6px;
}
.comment-ctnr list-cell:last-child{
	width: 100%;
}
.card-container, .trophy-container{
	padding: 6px;
	padding-bottom: 0px;
}
.title-icon, .title-descr{
	display: table-cell;
	vertical-align: middle;
	color: #53439C;
}
.title-descr{
	padding: 6px 12px;
	font-weight: bold;
}
.card-progess-bar div{
	padding: 6px;
	margin: 0px 12px;
}
.cpb-total{
	background-color: #DDD;
}
.cpb-achieved{
	position: relative;
	top: -12px;
}
.cpb-achieved.green{
	background-color: #008C46;
}
.cpb-achieved.yellow{
	background-color: #F2D215;
}
.cpb-achieved.orange{
	background-color: #FD995E;
}
.cpb-achieved.red{
	background-color: #E04444;
}

.avatar {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	background: #ccc;
}

#scrollable{
	max-height: 220px;
}

.friendslist{
	min-height: 60px;
}

list-row{
	display: table-row;
	width: 100%;
}

list-cell{
	display: table-cell;
	vertical-align: middle;
	padding: 0px 6px;
	width: 100%;
}

list-cell:first-child{
	width: 48px;
}
list-cell:last-child{
	width: 32px;
}

#drawer-menu{
	width: 100%;
}

#drawer-menu list-row{
	cursor: pointer;
}

/*#drawer-menu list-row:hover{
	color: #333;
}*/

#drawer-menu list-cell{
	padding: 20px 6px 20px 20px;
	font-size: 18px !important;
	border-bottom: 1px #EEE solid;
}

#drawer-menu list-cell:first-child{
	width: 20px;
	border-left: 4px #333 solid;
}
#drawer-menu list-cell:last-child{
	padding: 20px 6px;
	width: 100%;
}

#drawer-menu .blue{
	border-left-color: #265CFF !important;
	color: #265CFF;
}
#drawer-menu .red{
	border-left-color: #EC4F4F !important;
	color: #EC4F4F;
}
#drawer-menu .green{
	border-left-color: #008C46 !important;
	color: #008C46;
}
#drawer-menu .orange{
	border-left-color: #F09C00 !important;
	color: #F09C00;
}
#drawer-menu .gray{
	border-left-color: #333 !important;
	color: #333;
}
#drawer-menu .fa{
	padding: 4px;
    font-size: 19px;
}
#drawer-menu .flex{
	//color: #333 !important;
}

#panel{
	margin-top: 56px;
}

paper-menu-button[vertical-align="top"] paper-material.paper-menu-button {
    margin-bottom: 20px;
    /* margin-top: -10px; */
    top: 18px;
    right: 36px;
    color: #333;
}

iron-dropdown{
	outline: none;
    left: 457px;
    top: 0px;
    position: fixed;
    z-index: 103;
    right: 26px;
}

paper-material{
	min-width: 100px;
	max-width: 100px;
}

paper-item{
	cursor: pointer;
}

#spinner{
	display: none;
	text-align: center;
	padding: 20px 0px;
}

#main.style-scope.paper-drawer-panel, #drawer{
	z-index: 10;
}

#main.style-scope.paper-drawer-panel.iron-selected{
	z-index: -10;
}

.trophy-line{
	padding: 8px;
    background-color: #444;
    margin: 6px;
    margin-top: 0px;
    text-align: center;
}

.trophy-line img{
	padding: 4px;
	height: 24px;
	width: 24px;
}

/*.paper-drawer-panel.iron-selected{
	z-index: 999;
}*/

.body_ctnr{
	overflow: auto;
	height: 3000px;
	padding-bottom: 6px;	
}

paper-tab{
	width: 50%;
	padding: 12px;
	background-color: #7A6BC0;
	color: #FFF;
}

paper-tabs{
	-webkit-align-items: baseline !important;
    align-items: baseline !important;
}

iron-pages{
	min-height: 200px;
}

::-webkit-scrollbar{width:6px;height:6px}
::-webkit-scrollbar-button{width:6px;height:6px;background-color:#999}
::-webkit-scrollbar-track{background-color:#CCC}
::-webkit-scrollbar-track-piece{background-color:#EEE}
::-webkit-scrollbar-thumb{height:50px;background-color:#AAA;border-radius:0}
::-webkit-scrollbar-corner{background-color:#AAA}
::-webkit-resizer{background-color:#666}

simple-dialog{
	max-width: 500px;
}

/*#tabsContainer{
	display: none;
}*/

paper-tab div.tab-content{
	margin-bottom: 10px !important;
}

#selectionBar.paper-tabs{
	height: 3px;
}

#tab-general list-cell, #tab-friends list-cell{
	padding: 8px 6px;
}

#rankpos1 list-cell{
	padding: 30px 6px;
}

div.flex.rankpos{
	font-size: 18px;
	border-radius: 50%;
	background-color: #DDD;
	color: #333;
	padding: 4px 10px;
	text-align: center;
	max-width: 10px;
}

#rankpos1 div.flex.rankpos{
	background-color: #5CC26B;
	color: #FFF;
}

iron-pages.content-tabs{
	padding: 0px;
	border: 0px;
}

#rankpos1{
	background-color: #3FA94F;
	color: #FFF;
	font-weight: bold;
}

#tab-general list-cell:first-child, #tab-friends list-cell:first-child{
	padding-left: 12px;
}
#tab-general list-cell:last-child, #tab-friends list-cell:last-child{
	padding-right: 12px;
}

/*#rankpos2, #rankpos3{
	background-color: #008C46;
	color: #FFF;
}*/

#question-ctnr{
	margin: 6px;
}
#question-ctnr paper-textarea, #question-ctnr paper-dropdown-menu{
	padding: 6px;
}
#question-ctnr paper-button{
	background-color: #3FA94F;
	color: #FFF;
}
#question-ctnr paper-button.reject{
	background-color: #EC4F4F;	
}

.correct-answer{
	color: #3FA94F;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 30px;
}

paper-radio-group{
	outline: none;
}

#scrollable{
	min-height: 100px;
}

#gamersbar{
	position: fixed;
	background-color: #444;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 101;
}

#gamersbar .gamers, #gamersbar .timer{
	display: table-cell;
	text-align: center;
}

#gamersbar .gamers{
	width: 100%;
}
#gamersbar .gamers img{
	margin: 2px;
}

.timer{
	//background-color: #53439C;
    color: #FFF;
    padding: 0px 24px;
    //border-radius: 50%;
    //width: 28px;
    //height: 28px;
    text-align: center;
    vertical-align: middle;
    //line-height: 28px;
    font-size: 26px;
}

.questions-counter{
	padding: 8px 12px;
	margin: 6px 0px;
	margin-bottom: 0px;
	background-color: #444;
	color: #FFF;
	font-weight: bold;	
	text-align: right;
}

@media screen and (min-width: 600px) {
			
	.body{
		margin: 0px auto;
		max-width: 800px;
	}
	
	#panel{
		margin-top: 64px;
	}
	
	#main.style-scope.paper-drawer-panel{
		z-index: -10;
	}
	
	.body_ctnr{
		margin-left: 256px;
	}
	
	#gamersbar{
		left: 256px;
	}
	
}